* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

body {
  background: url('../assets/background.gif');
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h3 {
  font-family: 'Frijole', cursive;
  text-align: center;
   background: -webkit-linear-gradient(#eee, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 88px;
}

h3 {
  font-size: 50px;
}

#game {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

#game > ul {
  padding: none;
}

#sound {
  display: inline-block;
  background: -webkit-linear-gradient(#eee, #333);
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
}

#score {
  position: absolute;
  top: 200px;
  left: 80px;
  width: 600px;
  height: auto;
}

.row {
  display: flex;
  padding: 20px;
}

.row li {
  padding: 80px;
  position: relative;
  margin-right: 20px;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  }

  #score div {
    padding: 80px;
    background-color: white;
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
  }

.image-2 {
  background-image: url('../assets/2.jpg');
}

.image-4 {
  background-image: url('../assets/4.jpg');

}

.image-8 {
  background-image: url('../assets/8.jpg');

}

 .image-16 {
   background-image: url('../assets/16.jpg');

 }

 .image-32 {
   background-image: url('../assets/32.jpg');
 }

 .image-64 {
   background-image: url('../assets/64.jpg');
 }

 .image-128 {
   background-image: url('../assets/128.jpg');
 }

 .image-256 {
   background-image: url('../assets/256.jpg');
 }

 .image-512 {
   background-image: url('../assets/512.jpg');
 }

 .image-1024 {
   background-image: url('../assets/1024.jpg');
 }

 .image-2048 {
   background-image: url('../assets/2048.jpg');
 }

p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Frijole', cursive;
  font-size: 80px;
}
