ul, li, ol {
  list-style: none;
}

body {
  background: url('../assets/background.gif');
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-family: 'Frijole', cursive;
  font-size: 88px;
  text-align: center;
   background: -webkit-linear-gradient(#eee, #333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#game {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

#sound {
  display: inline-block;
  background: -webkit-linear-gradient(#eee, #333);
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
}

.row {
  display: flex;
  padding: 20px;
}

.row li {
  padding: 80px;
  position: relative;
  margin-right: 20px;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: white;
  }

.image-2 {
  background-image: url('../assets/2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.image-4 {
  background-image: url('../assets/4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.image-8 {
  background-image: url('../assets/8.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

 .image-16 {
   background-image: url('../assets/16.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-32 {
   background-image: url('../assets/32.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-64 {
   background-image: url('../assets/64.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-128 {
   background-image: url('../assets/128.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-256 {
   background-image: url('../assets/256.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-512 {
   background-image: url('../assets/512.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-1024 {
   background-image: url('../assets/1024.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-2048 {
   background-image: url('../assets/2048.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Frijole', cursive;
  font-size: 80px;
}
