ul, li, ol {
  list-style: none;
}

body {
  background: url('../assets/background.gif');
  background-size: cover;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Frijole', cursive;
  font-size: 88px;
  text-align: center;
  color: grey;
}

#game {
  width: 700px;
  margin: 0 auto;
}

.row {
  display: flex;
  padding: 20px;
}

.row li {
  padding: 80px;
  position: relative;
  margin-right: 20px;
  border: 2px solid grey;
  border-radius: 8px;
  background-color: white;
  }

.image-2 {
  background-image: url('../assets/2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.image-4 {
  background-image: url('../assets/4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.image-8 {
  background-image: url('../assets/8.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

 .image-16 {
   background-image: url('../assets/16.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }

 .image-32 {
   background-image: url('../assets/32.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
 }
 
p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Frijole', cursive;
  font-size: 80px;
}
